<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编辑review数据</title>
</head>

<body>
    <form action="{{ url_for('data_edit', data_path=data_path, review_id=review['id']) }}" method="post">
        <div>
            <input type="text" name="regex" placeholder="填写正则表达式，检查Review" value="{{ review['regex'] }}">
        </div>
        <div>
            <input name="is_matched" value="match" type="checkbox" {% if review['isMatch'] == true %}checked{% endif %}><label for="is_matched">需要匹配正则表达式吗?</label>
        </div>
        <div>
            <input type="text" name="description" placeholder="填写 review 描述" value="{{ review['description'] }}">
        </div>
        <textarea name="comment" id="review" cols="30" rows="10" placeholder="review">{{ review['comment'] }}</textarea>
        <div>
            <input type="radio" name="rate" value="awesome" {% if review['rate'] == "awesome" %}checked{% endif %}><label for="rate">awesome</label>
            <input type="radio" name="rate" value="suggestion" {% if review['rate'] == "suggestion" %}checked{% endif %}><label for="suggestion">suggestion</label>
            <input type="radio" name="rate" value="require" {% if review['rate'] == "require" %}checked{% endif %}><label for="require">require</label>
        </div>
        <div>
            <input name="is_missed" value="miss" type="checkbox" {% if review['is_missed'] == true %}checked{% endif %}><label for="is_missed">需要检查代码遗漏的情况?</label>
        </div>
        <div>
            <input type="text" name="pos_regex" placeholder="寻找review位置的正则表达式" value="{{ review['pos_regex'] }}">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    <a href="{{ url_for('data_list', data_path=data_path) }}">cancel</a><br><br>
    <a href="{{ url_for('data_remove', review_id=review['id'] ,data_path=data_path) }}">remove</a><br>
    <hr>
    <a href="{{ url_for('copy_review', data_path=data_path, review_id=review['id']) }}">copy</a>
</body>

</html>