<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>reivew list</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('search_data') }}">Search Data</a></li>
            </ul>
        </nav>
        <h1>{{ data_path }}</h1>

        <h2>不匹配的评论</h2>
        <ul class="no-match-review">
        {% for review_data in no_match_reviews %}
            <li>
                <a class="hover" href="{{ url_for('data_edit', data_path=data_path, review_id=review_data['id']) }}">{{ review_data['description'] }}</a>
                ///
                <a href="{{ url_for('copy_review', data_path=data_path, review_id=review_data['id']) }}">Copy</a>
                ///
                <button class="copy-paste" type="button">复制到粘贴板</button>
            </li>
        {% endfor %}
        </ul>

        <h2>匹配的评论</h2>
        <ul class="match-review">
        {% for review_data in match_reviews %}
            <li>
                <a class="hover" href="{{ url_for('data_edit', data_path=data_path, review_id=review_data['id']) }}">{{ review_data['description'] }}</a>
                ///
                <a href="{{ url_for('copy_review', data_path=data_path, review_id=review_data['id']) }}">Copy</a>
                ///
                <button class="copy-paste" type="button">复制到粘贴板</button>
            </li>
        {% endfor %}
        </ul>
        <a href="{{ url_for('add_new_data', data_path=data_path) }}">add new review data</a><br>
        <a href="{{ url_for('review_data') }}">back</a>
    </body>
    <script src="{{ url_for('static', filename='js/data_list.js') }}"></script>
</html>