<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>选择项目</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('setting_handle') }}">select dir path</a></li>
            <li><a href="{{ url_for('review_data') }}">list review data</a></li>
            <li><a href="{{ url_for('reset_project_path') }}">reset project path</a></li>
        </ul>
    </nav>
    <form action="/" method="post">
        <fieldset>
            <legend>项目</legend>
            {% for project_path in project_paths %}
            <div>
                <input type="radio" class="project-paths" name="select-project-path" value="{{ project_path }}">
                <label>{{ project_path }}</label>
            </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Submit">
    </form>
</body>

</html>