<!DOCTYPE html>
<html>

<head>
    <title>set dir path</title>
    <meta charset="utf-8">
</head>

<body>
    <nav>
        <!--<ul>
            <li><a href="{{ url_for('setting_handle') }}">setting</a></li>
            <li><a href="{{ url_for('review_data') }}">review data</a></li>
            <li><a href="{{ url_for('reset_project_path') }}">reset project path</a></li>
        </ul>-->
    </nav>
    <form action="/" method="get">
        <input type="text" name="project-path" placeholder="输入保存 project 的路径">
        <input type="submit" value="Submit">
    </form>
</body>

</html>